@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --minearte-bg: #242424;
}

#app {
  background-color: var(--background-color);
  color: var(--text-main);
  margin-top: 100px;
  min-width: 0;
}

html {
 background-color: var(--background-color);
}

.a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}
.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  overflow: overlay;
}
:root {
  color-scheme: dark;
}

.center {
  text-align: center;
}